

@media (max-width: 1399px) {
    .c-hero__row__left .h1 {
        font-size: 40px;
        margin: 0 0 28px;
    }
    .c-hero__row__left h3 {
        font-size: 27px;
        margin: 0 0 14px;
    }
    .c-hero__row__left .shape {
        width: 250px;
    }


    .c-hero__row__right {
        min-height: 670px;
    }
}


@media (max-width: 1199px) {
    .c-hero__row__left__content {
        padding-top: 16%;
        padding-left: 6%;
        padding-right: 20px;
    }
}


@media (max-width: 991px) {
    .hero__left-content .h1 {
        font-size: 40px;
        margin: 0 0 24px;
    }
    .hero__left-content h3 {
        font-size: 23px;
        margin: 0 0 35px;
        font-weight: 400;
    }
    .hero__cnt-img {
        width: 215px;
    }


    .h4 {
        font-size: 26px;
        margin: 0 0 15px;
    }
    .h2 {
        font-size: 32px;
        margin: 0 0 16px;
    }
    .what-do__bg-shape {
        width: 454px;
        top: -60%;
        left: 0;
        transform: none;
    }

    .gi__sec__shape {
        display: none;
    }
    .gi__content {
        margin-top: 30px;
    }

    .contact-section__title {
        margin-top: 25px;
        margin-bottom: 15px !important;
    }
    .contact-section__inner {
        max-width: 500px;
    }


    .c-hero__row__left {
        width: 50%;
        position: relative;
        z-index: 1;
    }
    .c-hero__row__right {
        min-height: 540px;
    }
    .c-hero__row__left .shape {
        margin-right: -125px;
    }
}


@media (max-width: 768px) {
    .hero__left-content {
        padding: 40px 9%;
        width: 100%;
    }

    .hero__left-content .h1 {
        font-size: 28px;
        margin: 0 0 20px;
    }
    .hero__cnt-img {
        display: none;
    }
    .header__logo {
        max-width: 44vw;
    }

    .h2 {
        font-size: 25px;
        margin: 0 0 12px;
    }
    .h4 {
        font-size: 24px;
        margin: 0 0 13px;
    }

    .row__a {
        flex-direction: column;
        gap: 20px;
    }
    .row__a__image {
        width: 100%;
    }
    .row__a__content {
        width: 100%;
        margin-left: 0;
        padding: 18px 15px;
    }
    .h3 {
        font-size: 28px;
        margin: 0 0 15px;
    }


    .c-hero__row__right {
        display: none;
    }
    .c-hero__row__left {
        width: 100%;
    }
    .c-hero__row__left .h1 {
        font-size: 28px;
        margin: 0 0 18px;
        font-weight: 800;
    }
    .c-hero__row__left h3 {
        font-size: 26px;
        margin: 0 0 20px;
    }
    .c-hero__row__left .shape {
        margin-right: -150px;
        width: 300px;
    }
    .c-hero__row__left__content {
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .mbl-txt-left {
        text-align: left !important;
    }
    .c-hero__bt {
        padding-top: 10%;
        padding-bottom: 6%;
    }
    .show-section {
        padding-bottom: 14%;
        padding-top: 10%;
    }


    .benefit-grid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .benefit-grid__item:nth-child(n) {
        border: none;
        border-bottom: 1px solid #c1ebff;
    }
    .benefit-grid__item:last-child {
        border-bottom: none;
    }
    .benefit-grid__item h3 {
        font-size: 24px;
        font-weight: 500;
        color: var(--theme__color1);
    }
    .benefit-grid__item {
        padding: 7% 0;
    }


    .example-section {
        padding-top: 23px;
    }
    .example-card h3 {
        margin: 0 0 17px;
        font-size: 22px;
    }
    .example-card p {
        font-size: 17px;
        font-weight: 300;
    }
    .example-card {
        padding: 21px 16px;
    }

    .slider-section {
        padding-bottom: 12%;
        padding-top: 10%;
    }


}


@media (max-width: 575px) {
 
}


@media (max-width: 390px) {
 
}
